a {
    text-decoration: none;
}

.card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.card-cont > div {
    width: fit-content; 
    margin-bottom: 20px; 
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 10%;
    margin-left: 2%;
    margin-right: 2%;
}
  
.card-text {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
  
.input-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
 
.input-container input {
    width: 800px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 60px;
    background: rgb(255, 255, 255);
    padding: 24px 50px;
    font-size: 20px;
    color: #191b21;
}

.card-cont img {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}