.background {
    background: radial-gradient(rgb(0, 0, 255), rgb(0, 195, 255));
    background-size: auto;
    position: absolute;
    height: 3600px;
    z-index: -1;
    width: 100%;
}

.food-exhibits-container {
    height: 100vh;
    position: relative;
    top: 150px;
}

.food-exhibits-title {
    font-size: 70px;
}

.exhibit-cards-container {
    margin-bottom: 200px;
}

.page-box {
    height: 3600px;
}

@media (max-width: 530px) {
    .food-exhibits-title {
        font-size: 50px;
    }
}
@media (max-width: 430px) {
    .food-exhibits-title {
        font-size: 40px;
    }
}