/* Add this to your CSS stylesheet */

.highest-voted-card-cont {
    position: relative;
    top: 200px;
    margin-left: auto;
    text-align: center;
    width: 100vw;
}
.highest-voted-card img{
    width: 50%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(56, 125, 255, 0.27);
    filter: drop-shadow(0 6px 20px rgba(0, 89, 255, 0.117));
    border-radius: 20px;
 }

.highest-voted-card-horizontal-container {
    margin-top: 20px;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;          
  }
  
  .highest-voted-card {
    margin: 50px; 
    width: 30vw;
    
  }
  
  .highest-voted-card p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
  }

#food-item-title {
    font-size: 6vw;
    font-family: 'PT Sans', 'Roboto', 'sans-serif';
}
#food-item-subtitle {
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 1600px) {
    #food-item-title {
        font-size: 7vw;
    }
    #food-item-subtitle {
        font-size: 3vw;
    }
    .highest-voted-card-cont {
        top: 150px;
    }

}

@media (max-width: 720px) {
    .highest-voted-card-horizontal-container {
        display: block;
        justify-content: center;       
      }
    .highest-voted-card {
        width: 100%;
        margin: 0;
    }
    .highest-voted-card-cont {
        top: 100px;
    }
}
