
  h1 {
    text-align: center;
  }
  .profile_card__item {
    display: flex;
    flex: 1;
    margin: 0 2rem;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
    justify-content: center;
  }
  
  .profile_card__item__link {
    display: flex;
    flex-flow: column;
    max-width: 20vw;
    min-width: 200px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
  }
  
  .profile_card__item__pic-wrap {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .profile_card__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20%;
    display: block;
    width: 60%;
    max-width: 80%;
    height: 90%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile_card__item__info {
    padding: 20px 30px 30px;
    text-align: center;
  }
  
  .profile_card__item__text {
    color: #252e48;
    font-size: 25px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  