.voting-title {
    margin-bottom: 5%;

}

.voting-title h1 {
    font-size: 4.5vw;   
    font-family: 'PT Sans', 'Roboto', 'sans-serif';
}

.voting-title p {
    text-align: center;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.current-votes h1{
    margin-top: 5%;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}
.voting-cont {
    text-align: center;
    margin-bottom: 200px;
}

.vote-notice {
    font-size: 50px;
    color: rgb(0, 153, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}


@media (max-width: 800px) {
    .voting-title h1 {
        font-size: 7vw;   
    }
    
    .voting-title p {
        text-align: center;
        font-size: 4vw;
    }
    .current-votes {
        font-size: 1.5vw;
    }
    .voting-cont {
        margin-bottom: 50px;
    }
}